<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="../static/images/favicon.ico" />

<title>PINACLE Commercial Portal</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" 	th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css" />

</head>
<body>
      
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<a class="navbar-brand main-logo" href="#" style="padding-left: 20px;">
			<img src="../static/images/pnc_logo_rev.svg" th:src="@{/images/pnc_logo_rev.svg}" alt="PNC" />
		</a>
		<a class="navbar-brand" href="#"  style="padding-left: 30px;" >PINACLE Commercial Portal</a>
		<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
		<div class="collapse navbar-collapse" id="main-nav"   style="padding-left: 20px;">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#" id="setupLnk">Setup <span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#" id="billLink">Bills</a></li>
				<li class="nav-item"><a class="nav-link" href="#" id="billPayments">Payments</a></li>
				<li class="nav-item"><a class="nav-link" href="#" id="viewVendors">Vendors</a></li>
			</ul>
			
			<a class="navbar-brand" href="#">John Doe</a>
		</div>
	</nav>
	<div class="container-fluid jumbotron" style="background-color: white!important">
			<div class="row connection data-section"
				th:if="${session.containsKey('access_token')}">
				<h1 class="display-5">You are connected to QuickBooks</h1>
			</div>
			<!-- ELSE -->
			<div class="row connection data-section"
				th:unless="${session.containsKey('access_token')}">
				<h1 class="display-5">Connect to QuickBooks</h1>
				<p class="lead">
					<span  th:text ="${T(org.sample.qbintg.intg.constant.MessageEnum).QUICKBOOK_CONN_MESSAGE.desc()}"></span>
					<br /> 
					<a class="imgLink" th:onclick="'launchPopup(\'connectToQuickbooks\');'" role="button" href="#">
						<img style="height: 40px" src="../static/images/C2QB_white_btn_lg_default.png" th:src="@{/images/C2QB_white_btn_lg_default.png}" />
					</a>
				</p>
			</div>
			<div class="row connection data-section section-divider"></div>
			<div class="row connection data-section"
				th:if="${session.containsKey('netsuite-connected')}">
				<h1 class="display-5">You are connected to NetSuite</h1>
			</div>
			<!-- ELSE -->
			<div class="row connection data-section" style="display: block;"
				th:unless="${session.containsKey('netsuite-connected')}">
				<h1 class="display-5">Connect to NetSuite</h1>
				<p class="lead">
					<span  th:text ="${T(org.sample.qbintg.intg.constant.MessageEnum).NETSUITE_CONN_MESSAGE.desc()}"></span>
					<br /> 
					<a class="imgLink" role="button" href="#null">
						<img style="height: 40px" src="../static/images/netsuite_button.png" th:src="@{/images/netsuite_button.png}" />
					</a>
				</p>
			</div>
			<div class="row connection data-section section-divider"></div>
			<div class="row connection data-section" style="display: block;">
				<h1 class="display-5">Connect to Xero</h1>
				<p class="lead">
					<span  th:text ="${T(org.sample.qbintg.intg.constant.MessageEnum).XERO_CONN_MESSAGE.desc()}"></span>
					<br />
					<a class="imgLink" role="button" href="#null">
						<img style="height: 60px; width: 230px;" src="../static/images/connect_xero_button_blue_2x.png" th:src="@{/images/connect_xero_button_blue_2x.png}" />
					</a>
				</p>
			</div>
			
			<div class="row data-section d-flex justify-content-center collapse"  id="no-data"></div>
			
			<!--  Bill section -->
			<div class="data-section table-responsive collapse" id="bill">
				<h1 class="display-5 pb-3">Outstanding Bills</h1>
				<table class="table table-striped table-hover" id="billTable">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Date</th>
							<th scope="col">Payee</th>
							<th scope="col">Category</th>
							<th scope="col">Due Date (EST)</th>
							<th scope="col">Balance</th>
							<th scope="col">Total</th>
							<th scope="col">Source</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody id="billData">
					</tbody>
				</table>
				<div th:replace="payment :: #paymentModal" style="display: none"></div>
			</div>
			
			
			<!--  Payment section -->
			<div class="data-section table-responsive collapse" id="payments">
				<h1 class="display-5 pb-3">Recent Payments</h1>
				<table class="table table-striped table-hover" id="paymentTable">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Vendor</th>
							<th scope="col">DateTime (EST)</th>
							<th scope="col">Pay Type</th>
							<th scope="col">Amount</th>
							<th scope="col">Bill #</th>
							<th scope="col">Source</th>
						</tr>
					</thead>
					<tbody id="paymentData">
					</tbody>
				</table>
			</div>
			
			
			<!--  Vendor Section  -->
			<div class="data-section table-responsive collapse" id="vendors">
				<h1 class="display-5 pb-3">Current Vendors</h1>
				<table class="table table-striped table-hover" id="vendorTable">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Vendor</th>
							<th scope="col">Email</th>
							<th scope="col">Phone Num</th>
							<th scope="col">Balance</th>
							<!-- <th scope="col">Account Num</th>
							<th scope="col">Routing Num</th> -->
							<th scope="col">Source</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody id="vendorData">
					</tbody>
				</table>
				<button type="button" class="btn btn-success float-right font-weight-bold mt-5"  
				data-toggle="modal" data-target="#vendorModal" data-vendorid="-1">Add Vendor</button>
			</div>
			<div th:replace="vendor :: #vendorModal" class="collapse"></div>
			
			
			
			
			
</div>
	<footer class="footer">
	<!-- <div class="ftr-top-bar"></div> -->
      <div class="container">
        <span class="text-muted">PNC QuickBook Integration</span>
      </div>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/datetime-moment.js"></script>
<script src="/js/app.js"></script>
</html>