<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paymentModalLabel">Make Payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="paymentForm" name="paymentForm">
         <div class="form-group row">
    			<label for="pay-to" class="col-sm-4 col-form-label">Make Payment to:</label>
   				<div class="col-sm-6">
      				<input type="text" readonly="readonly" class="form-control-plaintext" id="pay-to" />
    			</div>
    			<input type="hidden" name="billId" id="billId" />
    			<input type="hidden" name="source" id="source" />
  		</div>
        <div class="form-group row">
            <label for="amt"  class="col-sm-4 col-form-label">Amount Paid:</label>
            <div class="col-sm-6">
            	<input type="text" readonly="readonly" disabled="disabled" class="form-control" id="amt"></input>
        	</div>  
        </div>
        <div class="form-group row">
        	<label for="debit-date"  class="col-sm-4 col-form-label">Payment Date:</label>
        	<div class="col-sm-6">
           	 <input type="text"   class="form-control" id="pymnt-date" placeholder="MM/DD/YYYY" name="paymentDate"></input>
            </div>
         </div>
         <div class="form-group row">
            <label for="paymentId" class="col-sm-4 col-form-label">Payment Method:</label>
            <div class="col-sm-6">
			    <select class="form-control" id="pay-from" name="paymentId">
			    	  <option value="36">ACH</option>
				      <option value="35">Check</option>
				       <option value="35">Wire Transfer</option>
			    </select>
		     </div>
          </div>
          <div class="form-group row">
            <label for="payFromId" class="col-sm-4 col-form-label">Pay From:</label>
            <div class="col-sm-6">
			    <select class="form-control" id="pay-from" name="payFromId">
				      <option value="1">3680641370</option>
				      <option value="2">8910641312</option>
				      <option value="2">4506414514</option>
				      <option value="2">3891064137</option>
			    </select>
		     </div>
          </div>
           <div class="form-group row">
            <label for="notes" class="col-sm-4 col-form-label">Notes:</label>
            <div class="col-sm-6">
            	 <textarea class="form-control" id="notes"  style="height: 100px" spellcheck="true" placeholder="Notes.." name="note"></textarea>
            	 </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">&nbsp;Close&nbsp;</button>
        <button type="button" class="btn btn-primary" id="doPayment">Make Payment</button>
      </div>
    </div>
  </div>
</div>
